<div class="new_comment">
  <ul class="comments_verticle">
    <%= image_tag current_user.gravatar_url %>
    <li><%= "#{current_user.first_name} #{current_user.last_name}" %></li>
    <li><%= current_user.cohort %></li>
  </ul>

  <%= form_for :comment, method: 'post', url: "/users/#{current_user.id}/breakouts/#{@breakout.id}/comments" do |f| %>
    <%= f.label :body, "Comment" %><br>
    <%= f.text_area :body, cols: 75, rows: 3, placeholder: "SPECIFIC, actionable, kind..."  %><br />
    <%= f.submit %>
  <% end %>
</div>
